<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<p><strong>{{ site.title }}</strong></p>
				<p>{{ site.description }}</p>
			</div>

			<div class="col-sm-4">
				<p><strong>Quick Links</strong></p>
				<ul class="list-unstyled">
					<li><a href="{{ site.baseurl }}/research">Research</a></li>
					<li><a href="{{ site.baseurl }}/team">Team</a></li>
					<li><a href="{{ site.baseurl }}/publications">Publications</a></li>
					<li><a href="{{ site.baseurl }}/software">Software</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<p><strong>Contact</strong></p>
				<p>
				{{ site.address }}
				Email: {{ site.email }}
			   </p>
			</div>
		</div>

		<div class="row" style="margin-top: 20px;">
			<div class="col-sm-12 text-center">
				<p style="margin: 0;">&copy; {% assign current_year = 'now' | date: "%Y" %}{{ current_year }} {{ site.title }}. All rights reserved.</p>
			</div>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
